@import "global.less";

.footer{
    
    vertical-align: bottom;
	background: url("../../assets/img/solu/footer_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 15px 0 15px;
    color: #fff;
    text-align: center;
    box-shadow: @default-shadow;
}

.dev-build{

    background-color: @color-highlight;
    text-align: center;
    color: #fff;
    font-family: @font-family-paragraph;
    font-size: @text-size-large;
}

.page-base{
    
    width: 100%; 
    vertical-align: top;
}

