@import "global.less";

.calculator__field-container {
  padding: 10px 6px;
  margin-right: 10px;
  position: relative;
  top: 8px;
  width: 100%
}
.calculator__field {
  height: 30px;
  background-color: #3b5775;
  border-radius: 5px;
  text-align: center;
}

input[type='text'] {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: right;
  opacity: 1;
}

input[type='text']:focus{
border: none;
}
.calculator__button {
  width: 30px;
  height: 30px;
  background-color: @color-highlight;
  border: 1px solid darken(@color-highlight, 10%);
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: 8px;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, .5), 1px 1px 2px rgba(0, 0, 0, .3);		


  &:active{

      
    box-shadow: inset -1px -1px 2px rgba(255,255,255,0.5), 1px 1px 2px rgba(0,0,0,0.3);		
    padding-top: 1px;
  }
}
.calculator__number {
  color: #fff;
  letter-spacing: .25px;
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  cursor: pointer;
  bottom: 1px;
}

td{
    padding: 10px;
}