.large-text-mixin {
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.content-box {
  font-family: segoe;
  text-decoration: none;
  font-size: 13px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-color: #fff;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
}
.content-box__label {
  color: #313131;
  margin-top: 10px;
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.content-box__header {
  color: #0b2d53;
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.content-box__divider {
  border-width: 2px;
}
