@import "global.less";


.content-box{

    font-family: @font-family-paragraph;
    text-decoration: none;
    font-size: @text-size-normal;
    box-shadow: @default-shadow;
    border-radius: 5px;
    border-color: #fff;
    padding: 20px 10px 20px 10px;
    background-color: #fff;
}

.content-box__label{

    color: @color-header;
    letter-spacing: .25px;
    margin-top: 10px;
    .large-text-mixin();

}

.content-box__header{

    color: @color-brand;
    .large-text-mixin();
}

.content-box__divider{

    border-width: 2px;
}