.column-icon {
  width: 4%;
}
.column-name {
  width: 22%;
}
.column-large {
  width: 11%;
}
.column-small {
  width: 10%;
}
.column-menu {
  width: 7%;
}
.ellipses-menu {
  position: relative;
  left: 35%;
}
@media (max-width: 35em) {
  .ellipses-menu {
    left: 0%;
  }
}
.column-checkbox {
  align-items: center;
  position: relative;
  left: 15%;
}
@media (max-width: 35em) {
  .column-checkbox {
    left: 0%;
  }
}
.side-arrow-container {
  width: 7%;
  position: relative;
  top: 250px;
  padding: 5px;
}
