.dataColumn {

    
    border: 1px solid gray;
    width: 150px;

}

.nameColumn {

    
    border: 1px solid gray;
    width: 200px;
    padding-left: 5px;
}

.dataRow {

    border: 1px solid gray;
}