@import "global.less";

.hover-mixin{

    cursor: pointer;

    &:hover{

        background-color: lighten(@color-brand, 10%);
    }
}

.header{

    width: 100%;
    display: table;
    padding-left: 6px;
    padding-right: 6px;
    background-color: @color-brand;
    box-shadow: @default-shadow;

    input[type='text']{

        background-color: transparent;
        width: 100%;
        height: 30px;
        border-width: 0px;
        border-radius: 3px;
        color: #fff;
        font-size: @text-size-normal;
        padding-right: 32px;
        padding-left: 10px;
        float: left;
        position: relative;
        bottom: 15px;
    }
}

.header__body{

    display: table-row;
}

.header__logo{

    float: left;
    display: inline-block;
    height: 46px;
    font-family: squada;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1.5px;
    padding: 2px 8px 0px 8px;
    .hover-mixin();
}


.header__utility{
    float: right;
    position: relative;
}

.header__utility__search-container{

    display: inline;
    height: 100%;
    padding: 0px 6px;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 8px;

            
    @media (max-width: 35em){
        cursor: pointer;
    }

    .fa-search { 
        position: relative;
        float: right;
        top: 7px;
        right: 8px;
        font-size: 15px;
        color: #fff;
    }
}

.header__utility__search{

    width: 30px;
    height: 30px;
    background-color: #3b5775;
    border-radius: 5px;
    text-align: center;
}

.header__utility__cog-container{

    display: inline-block;
    padding-right: 17px;
    
}

.header__utility__button-container{

    display: inline;
    height: 46px;
    padding: 0px 6px;
    float: right;
    
    .hover-mixin();
}

.button__initial{

    width: 30px;
    height: 30px;
    background-color: @color-highlight;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 8px;
}

.button__initial--text{

    color: #fff;
    letter-spacing: .25px;
    font-family: @font-family-header;
    font-weight: bold;
    font-size: @text-size-sublarge;
    position: relative;
    bottom: 1px;

}


.nav-text-mixin{

    font-family: Arial;
    color: #fff;
    padding-right: 10px;
    font-weight: normal;
    font-size: 14px;
}

.header__nav{
    
    padding-left: 7px;

    a{
        .nav-text-mixin();
    }
    a:hover{

        .nav-text-mixin();
        text-decoration: underline;
    }
}

.header__subnav{
    
    a{

        font-family: @font-family-paragraph;
        font-weight: bold;
        color: #fff;
        padding-right: 10px;

    }
}

.header__subnav-mixin{

    width: 100%;
    padding-left: 10%;
    display: table;
    padding-top: 0px;
}

.header__subnav--display{
    background-color: @color-header;
    border: #000 1px solid;
    height: 20px;
    box-shadow: @default-shadow;
    .header__subnav-mixin();
}
.header__subnav--hidden{
    border: none;
    height: 30px;
    .header__subnav-mixin();
}


.header__link-button{

    height: 100%;
    margin: 0px;
    border: none;
    float: left;
    padding: 5px;
    text-align: center;
    
    a{
        color: #fff;
    }

    &:hover{

        background-color: @color-headerlight;

        a{
            color: #fff;
        }

    }
}

.hamburger__symbol{

    color: #fff; 
    font-size: 24px; 
    float: left; 
    padding-top: 13px
}

.hamburger__container{

    height: 46px;
    display: inline-block; 
    float: left; 
    padding: 0px 10px;
    .hover-mixin();
}