.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.login {
  width: 100%;
  vertical-align: top;
  height: 70%;
  padding: 100px;
}
.login__button {
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 40px;
  background-color: #a01c20;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
}
.login__solu-logo {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  width: 160px;
  height: auto;
}
