.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.layout-mixin {
  display: inline-block;
  vertical-align: top;
}
.layout-left {
  width: 19%;
  display: inline-block;
  vertical-align: top;
}
.layout-right {
  width: 79%;
  float: right;
  display: inline-block;
  vertical-align: top;
}
