.container {
  width: 100%;
}
.app-base {
  display: table;
  margin: 0 auto;
  min-height: 300px;
  padding: 30px 40px 0px;
  width: 100%;
}
@media (max-width: 35em) {
  .app-base {
    width: 100%;
    padding: 0px;
  }
}
