


    <div class="my-content">

        <div class="page-base">

            <div *ngIf = "showDevBuild" class="dev-build">
                Test Build
            </div>

            <router-outlet></router-outlet>
            
        </div>

        <div class="footer">
            &copy; 2017 Sol&#252; Technology Partners. All Rights Reserved.
        </div>
