
  <div class = "side-nav__header" >Calculator</div>
  <div>

  <hr class = "side-nav__divider">
  
  </div>

  <div class = "calculator__field-container">
    <div class = "calculator__field">
      <input type="text" [ngModel] = "operations" pInputText disabled />
    </div>
  </div>

  <table style = "margin: 20px; margin-bottom: 0px">

    <tr>
      <td>
        <div class = "calculator__button" (click)="append('1')"><div class = "calculator__number">1</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('2')"><div class = "calculator__number">2</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('3')"><div class = "calculator__number">3</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('+')"><div class = "calculator__number">+</div></div>
      </td>

    </tr>
    <tr>
      <td>
        <div class = "calculator__button" (click)="append('4')"><div class = "calculator__number">4</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('5')"><div class = "calculator__number">5</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('6')"><div class = "calculator__number">6</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('-')"><div class = "calculator__number">-</div></div>
      </td>

    </tr>
    <tr>
      <td>
        <div class = "calculator__button" (click)="append('7')"><div class = "calculator__number">7</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('8')"><div class = "calculator__number">8</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('9')"><div class = "calculator__number">9</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('*')"><div class = "calculator__number">*</div></div>
      </td>

    </tr>
    <tr>
      <td>
        <div class = "calculator__button" (click)="append('.')"><div class = "calculator__number">.</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('0')"><div class = "calculator__number">0</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="append('/')"><div class = "calculator__number">÷</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="evaluate()"><div class = "calculator__number">=</div></div>
      </td>

    </tr>
  
  </table>
  
  <table style = "margin-left: 20px">

    <tr>
      <td>
        <div class = "calculator__button" style = "width: 80px" (click)="clear()"><div class = "calculator__number">Clear</div></div>
      </td>
      <td>
        <div class = "calculator__button" style = "width: 80px" (click)="backspace()"><div class = "calculator__number">Back</div></div>
      </td>
    </tr>
  </table>


  <i style = "cursor: pointer; color: #0b2d53; font-size: 24px; padding: 30px" class = "fa fa-angle-double-right" (click) = "closeCalc()" ></i>