<sr-header></sr-header>
<md-sidenav-container>
    <md-sidenav #menu mode="{{menuMode}}" opened="{{navOpened}}" style = "width: 250px" align="start">
        
        <sr-side-nav></sr-side-nav>
        
    </md-sidenav>
<div class="container">

	<div class="app-base">
        
        <router-outlet></router-outlet>

    </div>
    
</div>
  <md-sidenav #calc class="md-sidenav-right" mode="{{menuMode}}" opened = "{{calcOpened}}" style = "width: 250px" align="end">

      <sr-calculator></sr-calculator>

   </md-sidenav>
</md-sidenav-container>

