<div class = "content-box__header">Survey Details</div>

<hr class = "content-box__divider">

<div class = "content-box__label">General</div>

<hr class = "content-box__divider">

<p> <strong>Team Name:</strong> {{selectedReport?.teamName}} 
<p> <strong>Team Status:</strong> {{selectedReport?.status}}
<p> <strong>Client:</strong> {{selectedReport?.client}} 

<hr class = "content-box__divider">

<div class = "content-box__label">Responses</div>

<hr class = "content-box__divider">

<p> <strong># Responses:</strong> {{selectedReport?.responses}} 

